@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: Moon Flower;
  src: url(font/Moon_Flower_Bold.ttf);
}
@font-face {
  font-family: Hosohuwafont;
  src: url(font/Hosohuwafont.ttf);
}
@font-face {
  font-family: SentyTEA;
  src: url(font/SentyTEA.ttf);
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  background-color: black;
  overflow: hidden;
}
@media all and (min-width: 500px) {
  body {
    height: 100%;
    width: 100%;
    overflow: unset;
    overflow-y: scroll;
    padding: 30px 0;
  }
}

.myBody {
  --scaleSize:0.5;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/bg.jpg");
  background-size: cover;
}
@media all and (min-width: 500px) {
  .myBody {
    width: 414px;
    height: 736px;
    margin-left: auto;
    margin-right: auto;
  }
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.timeline-container {
  margin: 5px 0;
  width: 80%;
  --height: 300px;
  height: var(--height);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 15%, black 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top;
  transition: all 0.8s ease;
}

.opened .timeline-container {
  opacity: 0;
}

.trigger {
  position: absolute;
  width: 20px;
  height: 20px;
}

.trig-lam {
  background-color: red;
}

.trig-green {
  background-color: green;
}

.timeline-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.year {
  font-family: Hosohuwafont;
  font-size: 35px;
  margin: 10px;
}

.month-row {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month {
  background-image: url("img/circle.png");
  background-size: cover;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  overflow: visible;
}

.month-wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
}

.month-text {
  font-family: Moon Flower;
  padding: 0 10px;
  height: 45px;
  font-size: 30px;
}

.month-text.right-side {
  transform: translateX(16px);
}

.month-text.left-side {
  transform: translateX(-100%);
  text-align: right;
}

.tag {
  font-family: SentyTEA;
  font-size: 17px;
  text-decoration: line-through;
}

.highlighted {
  text-decoration: unset;
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.arrow {
  transform: scaleY(-1);
  animation: arrow-jump 0.8s infinite;
}

.arrow.off {
  pointer-events: none;
}

.arrow.touched {
  animation: arrow-flicker 1s ease;
}

@keyframes arrow-flicker {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes arrow-jump {
  0% {
    margin-bottom: 0;
  }
  30% {
    margin-bottom: 3px;
  }
  60% {
    margin-bottom: 0;
  }
}
.opened .arrow {
  transform: scaleY(1);
}

.twins {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.opened .twins {
  flex-direction: column;
}

.content-wrapper {
  font-family: SentyTEA;
  position: relative;
  height: 130px;
  width: 100%;
  --opened-height: 300px;
  transition: all 0.7s ease;
}

.text-default {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.opened .content-wrapper {
  height: var(--opened-height);
}

.transparent-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 8%, black 92%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left;
  opacity: 0;
  transition: all 0.7s ease;
}

.opened .transparent-top {
  opacity: 1;
  height: var(--opened-height);
}

.transparent-right {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 5%, black 95%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top;
  background-color: rgba(255, 255, 255, 0.6);
}

.photo {
  height: var(--photoHeight);
  width: 100px;
  position: relative;
  --photoHeight: 100px;
  --photoOpenHeight: 220px;
}

.opened .photo {
  margin-top: 15px;
  height: var(--photoOpenHeight);
  width: 90%;
}

.text-box {
  flex: 1;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: auto;
  height: 100%;
  width: 58%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 12%, black 88%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top;
}

.opened .text-box {
  flex: unset;
  margin-top: 25px;
  height: 300px;
  width: 100%;
}

.slider-img-container {
  width: 100%;
  height: var(--photoHeight);
}

.slider-img-center {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.opened .slider-img-container {
  height: var(--photoOpenHeight);
}

.longWidth {
  width: 100%;
  height: auto;
}

.longHeight {
  height: var(--photoHeight);
  width: auto;
}

.opened .longHeight {
  height: var(--photoOpenHeight);
}

.img-transparent-right {
  display: inline-block;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 5%, black 95%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left;
}

.img-transparent-top {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 5%, black 95%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top;
}

.green {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 185px;
  right: 13px;
  padding-bottom: 5px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
.green-img {
  display: inline-block;
  height: 135px;
  position: relative;
  opacity: 0.8;
  margin-right: 100px;
  animation: shake 1.3s ease infinite;
}

.green-img img {
  position: absolute;
  top: 0;
  transform: rotate(-1deg);
}

.char-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-6deg);
  margin-top: 0px;
}

.mark {
  height: 30px;
  width: 100%;
  position: relative;
  font-family: Hosohuwafont;
}

.mark span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  color: #5f926f;
  font-size: 32px;
}

.on {
  opacity: 1;
  z-index: 9999;
}

.off {
  opacity: 0;
}

.ani-fast {
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  -webkit-transform: translateZ(0);
}

.ani-mid {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transform: translateZ(0);
}

.ani-slow {
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
  -webkit-transform: translateZ(0);
}

.fadeIn {
  opacity: 0;
}

.fadeIn.animated {
  opacity: 1;
}

.slider {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 5%, black 95%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left;
}

.slick-slide {
  margin: 0;
}

.slick-dots {
  bottom: -15px;
}

.opened .slick-dots {
  bottom: -25px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
}

.slick-dots li button:before {
  opacity: 0.15;
}

.slick-dots li.slick-active button:before {
  opacity: 0.8;
}

.slick-slide {
  transition: all 0.3s ease;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
